html, body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #000;
}

a {
  color: #fff;
}

@baseColorTransparency: rgba(0,0,0,.7);
@blue0: #4D1379;
@blue1: #9026CF;
@blue2: #FFD9FC;

.content {
}

header {
}

nav {
}

footer {
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2 {
  margin: 0;
}


// ---------------------------------------------------------------------------
// Home
// ---------------------------------------------------------------------------
.home {
  header {
    background-color: rgba(77, 19, 121, .6);
    overflow: auto;
    padding: 20px;
    text-align: center;

    h1 {
      font-size: 2.4em;
      text-shadow: 0 0 15px #000;
      margin: 7px 30px;
      display: block;
      font-family: 'Della Respira',serif;
      color: #fff;
      text-transform: uppercase;
    }

    .logo {
      float: right;
      position: absolute;
      top: 20px;
      font-size: 1em;
    }
  }

  .logo {
    h2 {
      color: #fff;
      font-family: 'Della Respira',serif;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 2em;
      text-align: center;
    }
  }

  .proximamente {
    font-family: 'Qwigley',cursive;
    font-size: 1em;
    background-color: rgba(0,0,0,.23);
    margin: 80px auto;
    width: 100%;

    h3 {
      color: #fff;
      font-size: 12em;
      text-shadow: 0 0 10px #4D1379;
      margin: 0;
    }
  }
}


// MEDIA QUERIES

/* Large desktop */
@media(min-width:1200px){
}

/* Portrait tablet to landscape and desktop */
@media(min-width:768px)and(max-width:979px){
}

/* Landscape phone to portrait tablet */
@media(max-width:767px){
  body, html {
    font-size: 7px;
  }

  header {
    h1, .logo {
      display: none;
    }
  }

  .logo {
    img {
      width: 100%;
    }
  }
}
